<div id="<%= dom_id discount %>">
  <p>
    <strong>Name:</strong>
    <%= discount.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= discount.description %>
  </p>

  <p>
    <strong>Percent:</strong>
    <%= discount.percent %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= discount.active %>
  </p>
</div>
