<div id="<%= dom_id cosmetic %>">
  <p>
    <strong>Name:</strong>
    <%= cosmetic.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cosmetic.description %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= cosmetic.brand_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= cosmetic.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= cosmetic.quantity %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= cosmetic.discount_id %>
  </p>
</div>
